.header {
    width: 87vmax;
    margin: 4vh 10vh 1vh;
    background-color: transparent;
    float: left;
}

.address-field-left {
    width: 40vmax;
    float: left;
}

.address-field-right {
    width: 40vmax;
    float: right;
}

/* button {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px 2px;
}

button:hover {
    background-color: rgb(192, 237, 246);
} */
