.header {
    width:auto;
    margin: 3vh 4vh .5vh;
    background-color: transparent;
    float: left;
    position: relative;
    z-index: 2;
}

.address-field {
    width: 50vmax;
    float: left;
}

.theme{
    float: left;
    margin-left: 1rem;
}