.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(#5b5b5b, 40%, transparent);
  z-index: 201;
}

.address-field {
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  position: fixed;
  top: 20px;
}

.theme {
  float: left;
  margin-left: 1rem;
}
