:root {

}

body {
  --theme-ui-colors-primary: var(--theme-ui-colors-primary, #0066ff);
  --theme-ui-colors-text: var(--theme-ui-colors-text, #fff);
  --theme-ui-colors-background: var(--theme-ui-colors-background, #2f363d);
  --theme-ui-colors-muted: var(--theme-ui-colors-muted, #24292e);
  --theme-ui-colors-border: var(--theme-ui-colors-border, #444d56);
  --theme-ui-colors-icon: var(--theme-ui-colors-icon, #959da5);
  color: var(--theme-ui-colors-text, var(--theme-ui-colors-text, #fff));
  background-color: var(--theme-ui-colors-background, var(--theme-ui-colors-background, #2f363d)
  );
}
